@import '../../../style/mixin';
@import '../../../style/variables';

.workcenter-view {
  .tab-entrance {
    height: 100px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #fff;
    font-size: 13px;
    @include flex-layout(center, flex-start);
    li {
      @include flex-layout(center, center, column);
      flex: 0 0 25%;
      i {
        width: 24px;
        height: 24px;
        margin-bottom: 8px;
        &.general-affairs-icon {
          background-image: url('../../../images/shiwuzhongxin@2x.png');
        }
        &.totalvalue-duty-icon {
          background-image: url('../../../images/zhiban_active@2x.png');
        }
        &.work-report-icon {
          background-image: url('../../../images/huibao@2x.png');
        }
        &.work-handover-icon {
          background-image: url('../../../images/jiaojie@2x.png');
        }
      }
    }
  }
  .todo-item {
    background-color: #fff;
    margin-top: 12px;
    dt {
      font-size: 18px;
      padding-top: 16px;
      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 12px;
      color: $color-text-primary;
      @include border-b-1px();
      @include flex-layout(center, flex-start);
      .daiban-icon {
        margin-right: 5px;
      }
    }
  }
}
