.myjob-view {
  font-size: 15px !important;
  .myjob-h4 {
    font-size: 18px;
    margin-top: 16px;
  }
  .month-select {
    margin-top: 18px;
  }
  .participate {
    margin-top: 18px;
    span {
      font-size: 16px;
      margin-left: 12px;
      margin-right: 12px;
    }
  }
  .canvas {
    margin-top: 20px;
  }
}
